<!DOCTYPE html>

<html lang="en" ng-app="neuApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome | myNEU</title>    
<!--     <base href="/" />
 -->    <!-- Le styles --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/design.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
   <div class="container-fluid">
    <div style="position: absolute">
  <nav id="small-menu-container" class="row-fluid navbar navbar-default navbar-fixed-top" ng-controller="navbarController">
    <div class="col-xs-3">
    <a href="#mainSubMenu" id="toggle"><span></span></a>
                       
       <div id="mainSubMenu">
         <ul class="nav nav-tabs navbar-default">
          <li><a ng-href="#/home" >Home</a></li>
            <li ng-repeat="section in sections">
                <a ng-href="#/{{section}}">{{section}}</a>
            </li>            
        </ul>
       </div>
         </div>
         <div class="col-xs-9" style="line-height:50px;"></div>
       </div>
 </nav>
 </div> 
<div class="row-fluid" id="menu-container" ng-controller="navbarController">
<a href="#/home">
  <img  src="images/myNeu.png" class="col-md-1 img-responsive"  alt="Portal Logo" title="Portal Logo" name="my_Neu_Logo" id="portalLogo"/>
</a>
    <ul class="nav nav-tabs navbar-default">
            <li ng-repeat="section in sections">
                <a ng-href="#/{{section}}" >{{section}}</a>
            </li>   
            <li style="float:right !important">
                <img src="images/logo.svg" height="35" alt="Northeastern Logo" style="vertical-align:centre;margin:5px;"/>
            </li>           
        </ul>
</div>
<div class="row-fluid"ng-view style="padding-top:20px" id="mainContent"></div>  
</div>
<script>
var theToggle = document.getElementById('toggle');

// hasClass
function hasClass(elem, className) {
  return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
}
// addClass
function addClass(elem, className) {
    if (!hasClass(elem, className)) {
      elem.className += ' ' + className;
    }
}
// removeClass
function removeClass(elem, className) {
  var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
  if (hasClass(elem, className)) {
        while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
            newClass = newClass.replace(' ' + className + ' ', ' ');
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    }
}
// toggleClass
function toggleClass(elem, className) {
  var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
    if (hasClass(elem, className)) {
        while (newClass.indexOf(" " + className + " ") >= 0 ) {
            newClass = newClass.replace( " " + className + " " , " " );
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
        $("#mainSubMenu").hide("slow");
    } else {
        elem.className += ' ' + className;
        $("#mainSubMenu").show("slow");
    }
}
theToggle.onclick = function() {
   toggleClass(this, 'menuClass');
   return false;
}
</script>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>      
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-route.min.js"></script>
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-resource.min.js.map"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-route.min.js.map"></script> -->
<script type="text/javascript" src="js/app.js"></script>

</html>